﻿
@{

    if (@Model.UserName == "")
    {
        ViewData["EmailTitle"] = "Hi,";
    }
    else
    {
        ViewData["EmailTitle"] = "Hi ";
    }
}
<p>
    We received a reset password request.<br />
</p>
<p>
    If you did not request a password reset, you can safely ignore this mail.
</p>
<p>
    Kind regards,<br />
    Support Team
</p>